<div class="container">
  <p class="highlight">✅ String Interpolation</p>
  <span class="sub-title">The city property can be used in the App class and can be referenced in the component template.</span>
  <p>I Live in {{ city }} </p>
</div>

<div class="container">
  <p class="highlight">Control Flow Using, If</p>
  <span class="sub-title">Deciding what to display on the screen for a user is a common task in application development. Many times, the decision is made programmatically using conditions.

    @if (isLoggedIn) {
      <p class="title">Welcome back, On the Dashboard !</p>
    }
    @else {
      <p class="title">Please Login !</p>
    }
</span>
</div>

