<div class="container">
  <p class="highlight">✅ String Interpolation</p>
  <span class="sub-title">The city property can be used in the App class and can be referenced in the component
    template.</span>
  <p>I Live in {{ city }} </p>
</div>

<div class="container">
  <p class="highlight">✅ Control Flow Using, If</p>
  <span class="sub-title">Deciding what to display on the screen for a user is a common task in application development.
    Many times, the decision is made programmatically using conditions.

    @if (isLoggedIn) {
    <p class="title">Welcome back, On the Dashboard !</p>
    }
    @else {
    <p class="title">Please Login !</p>
    }
  </span>
</div>

<div class="container">
  <p class="highlight">Let's Iterate using &#64;for</p>

  <div style="padding-block: 10px;">
    <span>Iterating over a list of items and displaying them on the screen is a common task in application
      development. In Angular, you can use the &#64;for directive to loop through an array and render each item.
  </span>

  </div>
  <div>
    <img src="https://i.pinimg.com/originals/68/2b/c9/682bc9cf1642952aac66ad75c7c8c5d7.png" alt="" srcset=""
      style="width: 200px; margin-block: 10px;">

  </div>


</div>